@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
html {
  font-family: "Work Sans", sans-serif;
}
body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1520985244272-9d0b8067a4ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1824&q=80");
  background-position: center;
  background-repeat: space;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  width: 100%;
  max-width: 900px;
  height: 600px;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
}

.wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result-card {
  max-width: 466px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px repeat(3, 1fr);
}

.filter-card {
  max-width: 466px;
}

.card-title {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card-title .city {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: start;
}

.weather-section {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}

.weather-section p {
  font-size: 2.5rem;
  font-weight: bold;
}

.details {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr;
}

.details:nth-child(2n) {
  border-left: 1px solid lightgray;
}

.details h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  grid-column: span 2;
}

.details img {
  place-self: center;
}

.details p {
  font-size: 1.8rem;
  line-height: 1.6rem;
  font-weight: bold;
  place-self: center;
}
